<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Online App Test">
    <meta name="author" content="as">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock Data Lookup Demo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS for navbar-->
    <style>
    body {
      padding-top: 70px;
    }
    </style>
  <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/D8EC5ADC-EEBE-1F46-A932-DBE801DE802E/main.js" charset="UTF-8"></script></head>

  <body>
    <!-- navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-1">
          <span class="sr-only">Toggle navigation</span>
          </button>
          <span class="navbar-brand">ML driven Microgrids</span>
        </div>

      </div>
    </nav>

    <!-- form -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
		<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th> </th>
				<th>Name</th>
                <th>Area</th>
				<th>Latitude</th>
				<th>Longitude</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Building 1</td>
				<td><input type="text" id="row-1-name" name="name" value="Building 1"></td>
                <td><input type="text" id="row-1-area" name="area"></td>
                <td><input type="text" id="row-1-latitude" name="latitude"></td>
				<td><input type="text" id="row-1-longitude" name="longitude"></td>
                <td><select size="1" id="row-1-type" name="type">
                    <option value="--Select--" selected="selected">
                        --Select--
                    </option>
                    <option value="office">
                        Office
                    </option>
                    <option value="residential">
                        Residential
                    </option>
                </select></td>
            </tr>
            <tr>
                <td>Building 2</td>
                <td><input type="text" id="row-2-name" name="name" value="Building 2"></td>
				<td><input type="text" id="row-2-area" name="area"></td>
                <td><input type="text" id="row-2-latitude" name="latitude"></td>
				<td><input type="text" id="row-2-longitude" name="longitude"></td>
                <td><select size="1" id="row-2-type" name="type">
                    <option value="--Select--" selected="selected">
                        --Select--
                    </option>
                    <option value="office">
                        Office
                    </option>
                    <option value="residential">
                        Residential
                    </option>
                </select></td>
            </tr>
			<tr>
                <td>Building 3</td>
                <td><input type="text" id="row-3-name" name="name" value="Building 3"></td>
				<td><input type="text" id="row-3-area" name="area"></td>
                <td><input type="text" id="row-3-latitude" name="latitude"></td>
				<td><input type="text" id="row-3-longitude" name="longitude"></td>
                <td><select size="1" id="row-3-type" name="type">
                    <option value="--Select--" selected="selected">
                        --Select--
                    </option>
                    <option value="office">
                        Office
                    </option>
                    <option value="residential">
                        Residential
                    </option>
                </select></td>
            </tr>
			<tr>
                <td>Building 4</td>
				<td><input type="text" id="row-4-name" name="name" value="Building 4"></td>
                <td><input type="text" id="row-4-area" name="area"></td>
                <td><input type="text" id="row-4-latitude" name="latitude"></td>
				<td><input type="text" id="row-4-longitude" name="longitude"></td>
                <td><select size="1" id="row-4-type" name="type">
                    <option value="--Select--" selected="selected">
                        --Select--
                    </option>
                    <option value="office">
                        Office
                    </option>
                    <option value="residential">
                        Residential
                    </option>
                </select></td>
            </tr>
			<tr>
                <td>Building 5</td>
                <td><input type="text" id="row-5-name" name="name" value="Building 5"></td>
				<td><input type="text" id="row-5-area" name="area"></td>
                <td><input type="text" id="row-5-latitude" name="latitude"></td>
				<td><input type="text" id="row-5-longitude" name="longitude"></td>
                <td><select size="1" id="row-5-type" name="type">
                    <option value="--Select--" selected="selected">
                        --Select--
                    </option>
                    <option value="office">
                        Office
                    </option>
                    <option value="residential">
                        Residential
                    </option>
                </select></td>
            </tr>
			</tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Area</th>
				<th>Latitude</th>
				<th>Longitude</th>
                <th>Type</th>
            </tr>
			<p>
			</p>
        </tfoot>
    </table>
		<p><input type="submit" value="Submit"></p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>